asgiref==3.2.7
asn1crypto==0.24.0
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
cryptography==2.6.1
cupshelpers==1.0
distro==1.3.0
distro-info==0.21
Django==3.0.5
django-crispy-forms==1.9.0
django-tailwind==0.7.1
entrypoints==0.3
evdev==1.1.2
feedparser==5.2.1
httplib2==0.11.3
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
lutris==0.5.6
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
musicbrainzngs==0.6
mutagen==1.40.0
olefile==0.46
Pillow==5.4.1
psutil==5.5.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.3.1
PyGObject==3.30.4
pyinotify==0.9.6
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-debian==0.1.35
python-debianbts==2.8.2
python-xapp==1.2.0
python-xlib==0.23
pytz==2019.3
pyxdg==0.25
PyYAML==3.13
quodlibet==4.2.1
reportbug===7.5.3-deb10u1
requests==2.21.0
scour==0.37
SecretStorage==2.3.1
setproctitle==1.1.10
six==1.12.0
sqlparse==0.3.1
unattended-upgrades==0.1
urllib3==1.24.1
