{% extends "safee/base.html" %}
{% block content %}
	{% for posts in posts %}
		<h1 style="text-align:center;">{{ posts.title }}</h1>
		<h3><br><br>{{ posts.content }}</h3>
		<h4><br><br><a href="{% url 'safee-home' %}">Go To Home</a></h4>
		<h4><br><br><a href="{% url 'safee-about' %}t">Go To About</a></h4>
		<h1><br><br><br><br><br><br><br><br><br></h1>
		<p style="text-align:right;">Project Made By {{ posts.author }}<br>Last Updated On : {{ posts.date_posted }}</p>
		

	{% endfor %}
{% endblock content %}
