{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Django App</title>
		{% endif %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'website/assets/css/main_raman.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'website/assets/css/noscript.css' %}" /></noscript>
		<style>
			body
			{
				background-color: white;
				--color: #00000085;
				--style1-color: #5e42a6;
				--style1-alt-color: #493382;
				--style2-color: #5052b5;
				--style2-alt-color: #3e4094;
				--style3-color: #b74e91;
				--style3-alt-color: #953d75;
				--sidebar: #312450;
			}

			.dark-mode
			{
				background-color: black;
				--color: #FFFFFF85;
				--style1-color: #0b0812;
				--style1-alt-color: #000000;
				--style2-color: #171736;
				--style2-alt-color: #000000;
				--style3-color: #481e39;
				--style3-alt-color: #000000;
				--sidebar: #0b0822;
			}

			#sidebar
			{
				background-color: var(--sidebar);
			}

			h1, h2, h3, h4, h5, p, label
			{
				color: var(--color);
			}

			.wrapper.alt
			{
				background-color: #261c3e;
			}

			.wrapper.style1
			{
				background-color: var(--style1-color);
			}

			.wrapper.style1-alt
			{
				background-color: var(--style1-alt-color);
			}

			.wrapper.style2
			{
				background-color: var(--style2-color);
			}

			.wrapper.style2-alt
			{
				background-color: var(--style2-alt-color);
			}

			.wrapper.style3
			{
				background-color: var(--style3-color);
			}

			.wrapper.style3-alt
			{
				background-color: var(--style3-alt-color);
			}

			#header
			{
				background-color: var(--style1-color);
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
				<header id="header">
					<nav>
						<ul>
							<li><a href="{% url 'safee-home' %}" class="active">Home</a></li>
							<li><a href="{% url 'safee-generic' %}">Generic</a></li>
							<li><a href="{% url 'safee-elements' %}">Elements</a></li>
						</ul>
					</nav>
				</header>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li>
								<button class="button small" onclick="myFunction()">
									Toggle dark mode
								</button>
								<script>
									function myFunction()
									{
										var element = document.body;
										element.classList.toggle("dark-mode");
									}
								</script>
							</li>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Who we are</a></li>
							<li><a href="#two">Learn Some Activities</a></li>
							<li><a href="#three">Get in touch</a></li>

						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1><a href="{% url 'safee' %}">Safee</a></h1>
							<p>
								<i>
									Bored?
									<br>
									Want to learn something or just pass some time?
									<br>
									You are at the right place!
								</i>
								<br><br>
								A project made and designed by <u><a href="https://github.com/raman934">Raman Gandhi</a></u><br>
							</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
								<li><a href="#one" class="button scrolly">Get Started</a></li>
							</ul>
							
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="{% static 'website/images/pic01.jpg' %}" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Sed ipsum dolor</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="{% url 'safee-generic' %}" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="{% static 'website/images/pic02.jpg' %}" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Feugiat consequat</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="{% url 'safee-generic' %}" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="{% static 'website/images/pic03.jpg' %}" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Ultricies aliquam</h2>
									<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
									<ul class="actions">
										<li><a href="{% url 'safee-generic' %}" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Learn Some Activities</h2>
							<p>Here you can browse around on some computer technologies you can learn.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Coding</h3>
									<p>Get into Programming, learn some new languages from the very basics to becoming a pro, make your own projects or just learn some thoery.</p>
									<ul class="actions small">
										<li><a href="{% url 'safee-generic' %}" class="button">Let's go</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-music"></span>
									<h3>Music</h3>
									<p>From Indian to Western Classical to Pop Culture, from Vocals to Instrumentals, you can learn anything, if you just get to it.</p>
									<ul class="actions">
										<li><a href="{% url 'safee-generic' %}" class="button">Let's go</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-atom"></span>
									<h3>Science</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-theater-masks"></span>
									<h3>Acting</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-palette"></span>
									<h3>Art</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-tv"></span>
									<h3>Relax and Watch Some Series</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="{% url 'safee-generic' %}" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="/about" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">user@untitled.tld</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(000) 000-0000</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/raman934" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>Safee</li><li>Made By: <a href="https://github.com/raman934">Raman Gandhi</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'website/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'website/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'website/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'website/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'website/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'website/assets/js/util.js' %}"></script>
			<script src="{% static 'website/assets/js/main.js' %}"></script>

	</body>
</html>