<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui,viewport-fit=cover">
  <base href="/">
  <title>Rick and Morty</title>
  <meta property="og:url" content="https://rickandmorty.com">
  <meta name="description" content="Rick is a mad scientist who drags his grandson, Morty, on crazy sci-fi adventures. Their escapades often have potentially harmful consequences for their family and the rest of the world. Join Rick and Morty on AdultSwim.com as they trek through alternate dimensions, explore alien planets, and terrorize Jerry, Beth, and Summer.">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@rickandmorty">
  <meta name="twitter:creator" content="@rickandmorty">
  <meta name="twitter:title" content="Rick and Morty">
  <meta name="twitter:description" content="Rick is a mad scientist who drags his grandson, Morty, on crazy sci-fi adventures. Their escapades often have potentially harmful consequences for their family and the rest of the world. Join Rick and Morty on AdultSwim.com as they trek through alternate dimensions, explore alien planets, and terrorize Jerry, Beth, and Summer.">
  <meta name="twitter:image" content="https://rickandmorty-prod.s3.amazonaws.com/uploads/1562092058484_M94.jpg">
  <meta property="og:type" content="video.tv_show">
  <meta property="og:site_name" content="Rick and Morty">
  <meta property="og:title" content="Rick and Morty">
  <meta property="og:description" content="Rick is a mad scientist who drags his grandson, Morty, on crazy sci-fi adventures. Their escapades often have potentially harmful consequences for their family and the rest of the world. Join Rick and Morty on AdultSwim.com as they trek through alternate dimensions, explore alien planets, and terrorize Jerry, Beth, and Summer.">
  <meta property="og:image" content="https://rickandmorty-prod.s3.amazonaws.com/uploads/1562092058484_M94.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/meta/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/meta/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/meta/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/meta/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/meta/favicon-16x16.png">
  <link rel="manifest" href="assets/meta/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/meta/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="//i.cdn.turner.com/adultswim/tools/css/global.css">
  <link rel="stylesheet" href="https://static.cdn.adultswim.com/lib/asc@^4.0.0/asc.css">
  <link rel="stylesheet" href="https://d2gg02c3xr550i.cloudfront.net/assets/asvp.b056137f79aaead6ef80796462682d26.css">
  <a id="at-skip-link-0" class="at-skip-link" role="button" tabindex="0" aria-label="Skip to content">Skip to content</a>
  <script>
    var strPageName = "index"; 
    var strSectionName = "misc"; 
    var strSubSectionName = "rick and morty";
  </script>
  <!-- Simulmedia Analytics -->
  <script>
    (function(e,n,t){e["$$d2cxFn"]=t;e[t]=e[t]||function(){(e[t].q=e[t].q||[]).push(arguments)};var c=n.getElementsByTagName("script")[0],o=n.createElement("script");o.async=true;o.src="https://analytics-sm.com/js/v1/beacon.js";c.parentNode.insertBefore(o,c)})(window,document,"sm_beacon");
    sm_beacon('setup', 'beacon', 'a6dd0ac7-c5df-482b-a25e-98b16c640282');
    sm_beacon('setup', 'user_tracking', true);
    sm_beacon('send', 'pageview');
  </script>
  <!-- End Simulmedia Analytics -->
</head>

<body>
    <div class="optanon-button-allow"></div>
  <header id="header">
    
<!-- edge dub dub dub -->
<!-- BEGIN [as] global nav -->
<div id="global-nav" class="asnav" role="banner">
    <div class="asnav-logo-and-control">
        <div class="asnav-logo">
            <a href="https://www.adultswim.com/" aria-label="Homepage">
                <div class="asnav-logo-image" aria-hidden="true">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 149.18 92.34" style="enable-background:new 0 0 149.18 92.34;" xml:space="preserve">
                        <g>
                            <path style="fill:#fff" d="M43.96,56.4c0-3.08,0.82-4.83,2.57-6.17c1.54-1.23,3.81-1.34,9.05-4.11c0,2.26-0.1,5.14-0.1,9.77
                                c0,5.55-3.19,7.61-6.68,7.61C45.71,63.5,43.96,60.83,43.96,56.4z M44.27,35.02c0.1-4.83,1.44-7.61,6.07-7.61
                                c3.7,0,5.24,2.16,5.24,5.55c0,4.21-0.93,5.04-5.96,6.37c-4.63,1.24-10.8,2.26-14.91,4.52c-4.11,2.26-6.79,7.71-6.79,14.19
                                c0,12.03,5.45,16.97,14.81,16.97c5.55,0,10.8-2.88,13.06-7.82h0.21c0.1,2.16,0.31,4.42,0.93,6.38h16.04C71,71.11,71,65.76,71,61.55
                                V32.96c0-11.72-6.07-16.45-19.74-16.45c-6.89,0-11.62,0.92-15.53,3.6c-3.91,2.67-6.17,7.3-6.27,14.91H44.27z"/>
                            <path style="fill:#fff" d="M95.69,55.89c0.1,2.47,0.31,4.63,1.13,6.27c0.93,1.54,2.47,2.57,5.14,2.57c3.91,0,5.96-2.47,5.96-5.66
                                c0-2.57-1.24-5.04-6.38-6.79c-13.68-4.63-20.26-7.3-20.26-19.02c0-11.11,7.81-16.76,21.18-16.76c15.63,0,20.15,7.61,20.15,15.63
                                v1.85h-14.81v-1.03c0-4.83-1.95-6.17-5.45-6.17c-4.42,0-5.65,2.16-5.65,5.14c0,9.87,26.63,3.29,26.63,24.88
                                c0,11.21-7.51,18.2-21.28,18.2c-14.91,0-21.18-5.55-21.18-16.66v-2.47H95.69z"/>
                            <path style="fill:#fff" d="M0,0h26.01v11.52H15.42v69.3h10.59v11.52H0V0z"/>
                            <path style="fill:#fff" d="M123.16,80.82h10.59V11.52h-10.59V0h26.02v92.34h-26.02V80.82z"/>
                        </g>
                    </svg>
                </div>
                <div class="asnav-logo-rollover" aria-hidden="true">
                    <img src="https://i.cdn.turner.com/adultswim/big/img/2018/03/26/headV3_1.gif" alt="" />
                </div>
            </a>
        </div>
        <div class="asnav-control">
            <button class="asnav-control__handle" aria-label="Toggle navigation" aria-expanded="false" aria-haspopup="true" aria-controls="global-nav-content">
                <img class="asnav-control__open-svg" src="https://i.cdn.turner.com/adultswim/big/img/home/ham.svg" aria-hidden="true" alt="Open" />
                <img class="asnav-control__close-svg" src="https://i.cdn.turner.com/adultswim/big/img/home/x.svg" aria-hidden="true" alt="Close" />
            </button>
        </div>
    </div>
    <div id="global-nav-content" class="asnav-content">
        <nav class="asnav-content__nav" aria-label="Global">
            <ul class="asnav-content__links">
                <li>
                    <a id="global-nav__shows" href="https://www.adultswim.com/videos/">Shows</a>
                </li>
                <li>
                    <a id="global-nav__streams" href="https://www.adultswim.com/streams/">Streams</a>
                </li>
                <li>
                    <a id="global-nav__toonami" href="https://www.adultswim.com/toonami/">Toonami</a>
                </li>
                <li>
                    <a id="global-nav__music" href="http://www.adultswim.com/music/">Music</a>
                </li>
                <li>
                    <a id="global-nav__games" href="https://www.adultswim.com/games/">Games</a>
                </li>
                <li>
                    <a id="global-nav__schedule" href="https://www.adultswim.com/schedule/">Schedule</a>
                </li>
                <li>
                    <a id="global-nav__podcast" href="https://www.adultswim.com/podcast/">Podcast</a>
                </li>
                <li>
                    <a id="global-nav__apps" href="https://www.adultswim.com/apps/">Apps</a>
                </li>
                <li>
                    <a id="global-nav__simulcast" href="https://www.adultswim.com/simulcast/">Live Simulcast</a>
                </li>
            </ul>
        </nav>
        <div id="global-nav-search" class="asnav-content__search">
            <form action="https://www.adultswim.com/search" method="get" role="search">
                <input aria-labelledby="global-nav-search__button" type="text" name="q" placeholder="Search" minlength="1" autocomplete="off" spellcheck="false" />
                <button id="global-nav-search__button" aria-label="search" type="submit" tabindex="-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20">
                        <path d="M19.7,18.3L16,14.6A9.1,9.1,0,0,0,18,9a9,9,0,1,0-9,9,8.53,8.53,0,0,0,5.6-2l3.7,3.7a1,1,0,0,0,1.4,0A1,1,0,0,0,19.7,18.3ZM2,9A7,7,0,0,1,16,9a7,7,0,0,1-2,4.9h0a6.8,6.8,0,0,1-4.9,2A6.84,6.84,0,0,1,2,9Z" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="asnav-content__login" data-asnav="login"></div>
    </div>
    <script>
        var NAV_ROLLOVER_IMAGES = ["https://i.cdn.turner.com/adultswim/big/img/2018/11/07/rick%26mortyRotateSized_1.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/11/02/squirting-compressor.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/09/25/harv_2.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/07/30/BROCK.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/07/10/rollover_swerl2.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/05/15/templateMid_GATO.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/04/27/halftomz_1.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/04/27/claps.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/04/27/harrigan-compressor.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/04/26/dogManX.gif", "https://i.cdn.turner.com/adultswim/big/img/2018/04/20/eye.gif"];
        var NAV_KEITH_TEXT = ["Keith"];
    </script>
</div>
<!-- END [as] global nav -->

  </header>
  <div class="as">
    <div class="container">
      <h2>This Website Requires a WebGL Enabled Device and Browser</h2>
      <p>You can still watch Rick and Morty at <a
          href="http://www.adultswim.com/videos/rick-and-morty">http://www.adultswim.com/videos/rick-and-morty</a>
        <br /><br />
    </div>
  </div>
  <footer id="footer"><!-- BEGIN [as] global footer -->
<div id="global-as-footer">
    <ul style="margin-bottom:12px;text-transform:uppercase;">
        <li>
            <a href="https://www.adultswim.com/misc/newsletter" style="color:#fff !important;">Sign up for the Adult Swim Newsletter</a>
        </li>
    </ul>
    <div id="legal-footer" class="footer-container">
        <div id="legal-links">
            <ul>
                <li id="as-legal-links-privacy-policy" style="color: white">
                    <a href="http://policies.warnerbros.com/privacy/">Privacy Policy</a>
                </li>
                <li id="as-legal-links-ad-choice">
                    <span class="ad-choice-area" id="adultswim_ad_choices">
                        <strong>
                            <script async src="//consent.truste.com/notice?domain=turner.com&c=adultswim_ad_choices&text=true&country=us"></script>
                        </strong>
                    </span>
                    <img
                        src="https://i.cdn.turner.com/adultswim/big/img/footer/ad-choices.png"
                        height="12"
                        style="margin:0 0 0 6px; vertical-align:middle;"
                        width="12"
                        alt="AdChoices icon"
                        aria-hidden="true"
                    />
                </li>
                <li id="as-legal-preference-center" class="as-legal-preference-center-toggles">
                    <div style="display: none;">
                        <a class="optanon-toggle-display" data-ignore-geolocation="true"> Do Not Sell My Personal Information </a>
                        <a class="optanon-show-settings" data-ignore-geolocation="true">Cookie Settings</a>
                    </div>
                </li>
                <li id="as-legal-links-terms">
                    <a href="https://policies.warnerbros.com/terms/en-us/">Terms of Use (Updated)</a>
                </li>
                <li id="as-legal-links-parental-controls">
                    <a href="http://www.tvguidelines.org/" target="_blank" rel="noopener noreferrer">PARENTAL CONTROLS</a>
                </li>
                <li id="as-legal-links-cc">
                    <a href="https://www.adultswim.com/footer/legal/closed-captioning.html">Closed Captioning</a>
                </li>
                <li id="as-legal-links-contact">
                    <a href="https://www.adultswim.com/footer/contact/">Contact Us</a>
                </li>
                <li id="as-legal-links-press">
                    <a target="_blank" rel="noopener noreferrer" href="http://news.turner.com/section_display.cfm?section_id=82">Press Room</a>
                </li>
                <li id="as-legal-links-help">
                    <a href="https://www.adultswim.com/footer/help/">Help</a>
                </li>
                <li id="as-legal-links-sitemap">
                    <a href="http://www.adultswim.com/sitemap/">Site Map</a>
                </li>
            </ul>
        </div>
        <p id="tbs-info">
            TM &amp; &copy; <span id="tbs-info-year">2020</span>&nbsp;<a href="https://www.turner.com/" target="_blank" rel="noopener noreferrer">Turner Broadcasting System, Inc.</a> A WarnerMedia Company. All Rights Reserved.
        </p>
        <p id="adultswim-info">
            <a href="https://www.turner.com/" target="_blank" rel="noopener noreferrer">
                <svg id="957821a5-b1ef-4daf-87a3-2e154248521b" data-name="turner" xmlns="http://www.w3.org/2000/svg" height="10px" width="57.25px" viewBox="0 0 57.25 10" style="margin:0 4px 0 0;">
                    <title>turner</title>
                    <path d="M48.17,6a7.7,7.7,0,0,0,.26-1.83A4,4,0,0,0,44.2,0a5.77,5.77,0,0,0-5.65,5,4,4,0,0,0,4.2,5,5.66,5.66,0,0,0,5.11-3.18H44.39a1.88,1.88,0,0,1-1.5.55A1.33,1.33,0,0,1,41.42,6h6.75ZM44,2.54a1.29,1.29,0,0,1,1.43,1.38H41.92A2.19,2.19,0,0,1,44,2.54Z" transform="translate(-0.38)" />
                    <path d="M55.46,0a2.17,2.17,0,1,0,2.16,2.16A2.17,2.17,0,0,0,55.46,0Z" transform="translate(-0.38)" />
                    <path d="M35.08,0a4.17,4.17,0,0,0-3,1.52L32.4,0.24H29.31L27.62,9.76h3.3l1-5.39a1.75,1.75,0,0,1,1.69-1.52,1.12,1.12,0,0,1,1,1.52l-1,5.39H37l1-5.84C38.43,1.52,37.27,0,35.08,0Z" transform="translate(-0.38)" />
                    <polygon points="0.55 0.24 9.26 0.24 8.72 3.3 6.08 3.3 4.94 9.76 1.61 9.76 2.75 3.3 0 3.3 0.55 0.24" />
                    <path d="M10.4,0.24h3.3l-0.93,5.3A1.06,1.06,0,0,0,13.85,7a1.66,1.66,0,0,0,1.64-1.45l0.93-5.3h3.3l-0.9,5.08A5.11,5.11,0,0,1,13.42,10C10.59,10,9,8.46,9.52,5.32Z" transform="translate(-0.38)" />
                    <polygon points="18.5 9.76 21.83 9.76 23.49 0.24 20.19 0.24 18.5 9.76" />
                    <path d="M26.08,0a2.17,2.17,0,1,0,2.16,2.16A2.14,2.14,0,0,0,26.08,0Z" transform="translate(-0.38)" />
                    <polygon points="47.89 9.76 51.19 9.76 52.87 0.24 49.55 0.24 47.89 9.76" />
                </svg>
            </a>
            <span>
                AdultSwim.com is part of Turner Entertainment Digital which is part of the Turner Sports &amp;
                Entertainment Digital Network.
            </span>
            <a href="http://www.tourgeorgiafilm.com/" target="_blank" rel="noopener noreferrer">
                <img
                    src="https://i.cdn.turner.com/adultswim/big/img/footer/georgia.png"
                    alt="Georgia"
                    height="20px"
                    style="margin:0 0px 0px 4px;"
                />
            </a>
        </p>
    </div>
    <div id="mobile-legal-footer" class="footer-container">
        <ul>
            <li>
                <a href="https://policies.warnerbros.com/terms/en-us/">terms of use (updated)</a>
            </li>
            <li>
                <a href="http://policies.warnerbros.com/privacy/" style="color: white">privacy policy</a>
            </li>
            <li class="as-legal-preference-center-toggles">
                <div style="display: none;">
                    <a class="optanon-toggle-display" data-ignore-geolocation="true"> Do Not Sell My Personal Information </a>
                    <a class="optanon-show-settings" data-ignore-geolocation="true">Cookie Settings</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END [as] global footer -->

<script src="https://static.cdn.adultswim.com/tools/global/user-consent.min.js"></script>
<script>
    var AS_ONE_TRUST_URL = 'https://cdn.cookielaw.org/geoswitch/b9cd4053-e29a-48ba-8e39-c53dc91b3d60.js';
    var AS_ENSIGHTEN_URL = 'https://nexus.ensighten.com/turner/adsm-prod/Bootstrap.js';
</script>
<script src="https://i.cdn.turner.com/ads/adfuel/ais/2.0/as-ais.min.js"></script>
<script src="https://i.cdn.turner.com/ads/adfuel/adfuel-2.0.min.js"></script>
</footer>
  <script>var AS_ONE_TRUST_URL = 'https://cdn.cookielaw.org/geoswitch/c1393ed9-7a49-40c1-aa71-6f786af7db2d.js';</script>
  <script src="https://static.cdn.adultswim.com/tools/global/scripts.js"></script>
  <script defer src="https://static.cdn.adultswim.com/lib/asc@^4.0.0/asc.js"></script>
  <script>
    if (window.WM && window.WM.UserConsent) window.WM.UserConsent.addScript({
      async: true,
      onload: function(e) {
        // start tracking
        window.dataLayer = window.dataLayer || [];
        window.gtag = function() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'DC-5998880');
        // Event snippet for Rick and Morty LP on http://www.rickandmorty.com: Please do not remove.
        // Place this snippet on pages with events you’re tracking.
        // Creation date: 03/29/2019
        gtag('event', 'conversion', {
          'allow_custom_scripts': true,
          'send_to': 'DC-5998880/showp0/ricka002+standard'
        });
        // load pixel
        var image = new Image();
        image.src = 'https://ad.doubleclick.net/ddm/activity/src=5998880;type=showp0;cat=ricka002;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1588874403947?';
        console.log('gtag loaded');
      },
      src: 'https://www.googletagmanager.com/gtag/js?id=DC-5998880'
    }, ['behavior-general']);
    (function () {
      if (location.hostname === 'rickandmorty.com') location.href = location.protocol + '//www.' + location.hostname + location.pathname + location.search;
      window._CACHE_ = "1588874403947";
      var p = 'app';
      try { eval('async () => {};'); } catch (e) { window._ES5_ = true; p = 'es5-' + p; }
      var s = document.createElement('script');
      s.src = 'assets/js/' + p + '.js?' + window._CACHE_;
      s.async = true;
      document.head.appendChild(s);
    })();
  </script>
</body>
</html>
