{% extends "CODEPEN/Move Objects.html" %}
<title>Logged Out</title>
{% block content %}
    <style>
        body {
            background-image: url(../../static/website/images/8.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            color: #333333;
            margin-top: 5rem;
        }
    </style>
    <h3>You have been logged out</h3>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
{% endblock content %}